body {
  background-color: #4a4e69;
  font-family: "Rubik", sans-serif;
}
.Calculator {
  color: white;
  text-align: center;
  font-size: 50px;
}
.contain-calculator {
  background-color: #726d81;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 white;
  display: flex;
  margin: 70px auto 20px;
  flex-direction: column;
}
#display {
  background-color: #fff;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  border: 2px solid #ccc;
  height: 40px;
  border-radius: 10px;
  margin: 10px 10px 5px 10px;
}
.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

button {
  font-size: 1.2em;
  padding: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  font-weight: 500;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}
#add,
#multiply,
#divide,
#subtract {
  color: #bf8b4a;
  font-weight: 700;
  font-size: 20px;
}
#equals {
  color: #fff;
  background-color: #3498db;
  grid-column: span 2; /* Span two columns for centering */
}
#clear {
  color: #fff;
  background-color: #e74c3c;
  grid-column: span 3; /* Span two columns for centering */
  justify-self: stretch; /* Center the button within the grid cell */
}

@media (max-width: 415px) {
  .contain-calculator{
    width: 250px;
  }
}
